<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Todo list - pixelvega</title>
    <link rel="icon" href="assets/images/icons/space-invaders.png" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="page__wrapper">
      <partial src="_header.html" label="Header"></partial>
      <partial src="_main.html" label="Main"></partial>
      <partial src="_new-task.html"></partial>
      <partial src="_footer.html" label="Footer"></partial>
    </div>
    <script src="assets/js/main.js"></script>
  </body>
</html>
